<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="shipping" class="com.stackroute.Address">
        <property name="houseNo" value="10"/>
        <property name="streetName" value="Marine Drive"/>
        <property name="city" value="Mumbai"/>
    </bean>

    <bean id="billing" class="com.stackroute.Address">
        <property name="houseNo" value="20"/>
        <property name="streetName" value="Jabar street"/>
        <property name="city" value="Delhi"/>
    </bean>

    <bean id="cust" class="com.stackroute.Customer">
        <property name="customerId" value="101"/>
        <property name="name" value="Anjali"/>
        <property name="email" value="anjali@gmail.com"/>
        <property name="address">
            <list>
                <ref bean="shipping"></ref>
                <ref bean="billing"></ref>
            </list>
        </property>

    </bean>
</beans>