<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.stackroute.Customer" id="customer">
        <property name="customerId" value="5"></property>
        <property name="name" value="Anjali"></property>
        <property name="email" value="anjali@gmail.com"></property>

    </bean>


</beans>